body{
    background-color: black;
}

.loading{
    position: relative;
    left: 40%;
    top: 150px;
}

.loading {
    width: 200px;
    height: 200px;
    border: solid 5px rgb(3, 80, 26);
    border-top-color: rgb(19, 196, 48);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
